/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --background-color: #C3CAE0;
  --background-color-card: #ffffff;
  --text-color: #e0e0e0;
}

/* .dark-theme {
  --background-color: #333333;
  --background-color-card: #333333;
  --text-color: #ffffff;
} */

.dark-theme {
  --background-color: #2a2a35;  
  --text-color: #e0e0e0;       
  --background-color-card: #3a3a4f;
  --card-text-color: #ffffff;  
  --border-color: #50505f;
}



/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-black);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-white-soft);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background-color: var(--background-color-card) !important;
  color: var(--card-text-color) !important;
  border: 1px solid var(--text-color) !important ;
  margin: 10px;
  border-radius: 10px;
  
}
.content {
  padding: 1.5rem;
}

.small-text {
  font-size: 12px !important;
}
.medium-text {
  font-size: 16px !important;
}
.large-text {
  font-size: 20px !important;
}
.giant-text {
  font-size: 24px !important;
}

.container {
  align-content: center;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.card {
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.label {
  font-weight: bold;
}

.error-msg {
  color: red;
}
.multiselect,
select {
  width: 100%;
}
.row>* {
  padding-left:0 ;
  padding-right: 0
}

input[type="text"],
select,
multiselect {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 100%;
  }

  input[type="text"],
  select,
  multiselect {
    width: 100%;
  }
}